@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family-body: "Nunito", system-ui, sans-serif;
  --font-family-heading: "Nunito", system-ui, sans-serif;
  --font-family-code: ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* @link https://utopia.fyi/type/calculator?c=320,14,1.125,1240,14,1.25,8,2,&s=0.75|0.5|0.25,2|3|4|5|6,&g=s,l,xl,12 */
  --font-size--2: clamp(0.56rem, calc(0.74rem + -0.23vw), 0.69rem);
  --font-size--1: clamp(0.7rem, calc(0.8rem + -0.13vw), 0.78rem);
  --font-size-0: clamp(0.88rem, calc(0.88rem + 0vw), 0.88rem);
  --font-size-1: clamp(0.98rem, calc(0.95rem + 0.19vw), 1.09rem);
  --font-size-2: clamp(1.11rem, calc(1.02rem + 0.45vw), 1.37rem);
  --font-size-3: clamp(1.25rem, calc(1.08rem + 0.81vw), 1.71rem);
  --font-size-4: clamp(1.4rem, calc(1.15rem + 1.28vw), 2.14rem);
  --font-size-5: clamp(1.58rem, calc(1.2rem + 1.9vw), 2.67rem);
  --font-size-6: clamp(1.77rem, calc(1.23rem + 2.72vw), 3.34rem);
  --font-size-7: clamp(2rem, calc(1.24rem + 3.79vw), 4.17rem);
  --font-size-8: clamp(2.25rem, calc(1.21rem + 5.17vw), 5.22rem);

  --font-size-body: var(--font-size-0);

  --space--1: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
  --space-7: 3.5rem;
  --space-8: 4rem;

  --color-blue-50: hsl(194, 74%, 82%);
  --color-blue-100: hsl(194, 72%, 71%);
  --color-blue-200: hsl(194, 64%, 60%);
  --color-blue-300: hsl(194, 57%, 49%);
  --color-blue-400: hsl(194, 78%, 38%);
  --color-blue-500: hsl(194, 80%, 33%);
  --color-blue-600: hsl(194, 81%, 27%);
  --color-blue-700: hsl(194, 84%, 22%);
  --color-blue-800: hsl(194, 86%, 16%);
  --color-blue-900: hsl(194, 89%, 11%);

  --color-teal-50: hsl(170, 53%, 81%);
  --color-teal-100: hsl(174, 46%, 69%);
  --color-teal-200: hsl(177, 42%, 59%);
  --color-teal-300: hsl(179, 39%, 51%);
  --color-teal-400: hsl(182, 52%, 42%);
  --color-teal-500: hsl(185, 57%, 36%);
  --color-teal-600: hsl(188, 62%, 30%);
  --color-teal-700: hsl(191, 69%, 24%);
  --color-teal-800: hsl(194, 73%, 17%);
  --color-teal-900: hsl(200, 82%, 11%);

  --color-green-50: hsl(163, 60%, 82%);
  --color-green-100: hsl(163, 56%, 73%);
  --color-green-200: hsl(163, 50%, 65%);
  --color-green-300: hsl(163, 45%, 58%);
  --color-green-400: hsl(163, 41%, 52%);
  --color-green-500: hsl(163, 47%, 41%);
  --color-green-600: hsl(163, 62%, 31%);
  --color-green-700: hsl(163, 76%, 23%);
  --color-green-800: hsl(162, 79%, 17%);
  --color-green-900: hsl(163, 89%, 11%);

  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);

  --color-primary-light: var(--color-blue-100);
  --color-primary-base: var(--color-blue-400);
  --color-primary-dark: var(--color-blue-700);

  --color-secondary-50: var(--color-green-50);
  --color-secondary-100: var(--color-green-100);
  --color-secondary-200: var(--color-green-200);
  --color-secondary-300: var(--color-green-300);
  --color-secondary-400: var(--color-green-400);
  --color-secondary-500: var(--color-green-500);
  --color-secondary-600: var(--color-green-600);
  --color-secondary-700: var(--color-green-700);
  --color-secondary-800: var(--color-green-800);
  --color-secondary-900: var(--color-green-900);

  --color-secondary-light: var(--color-green-100);
  --color-secondary-base: var(--color-green-400);
  --color-secondary-dark: var(--color-green-700);

  --color-gray-0: hsl(180, 45%, 98%);
  --color-gray-100: hsl(180, 23%, 94%);
  --color-gray-200: hsl(180, 15%, 88%);
  --color-gray-300: hsl(180, 10%, 80%);
  --color-gray-400: hsl(180, 7%, 71%);
  --color-gray-500: hsl(180, 6%, 62%);
  --color-gray-600: hsl(180, 5%, 53%);
  --color-gray-700: hsl(180, 6%, 44%);
  --color-gray-800: hsl(180, 6%, 34%);
  --color-gray-900: hsl(180, 9%, 17%);
  --color-gray-1000: hsl(180, 0%, 10%);

  --color-white: var(--color-gray-0);
  --color-black: var(--color-gray-1000);
}

html {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
